
/*
 Copyright © Jerbee Paragas 1/31/2020 

<important>--------------------------------------------------------------------------------------
 LICENSE: Apache License 2.0

 A permissive license whose main conditions require preservation of copyright and license notices. 
 Contributors provide an express grant of patent rights. Licensed works, modifications, and larger
 works may be distributed under different terms and without source code.
<!important!>-------------------------------------------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css?family=Gaegu|Open+Sans|Gamja+Flower|Nanum+Pen+Script&display=swap');

#content{
    display:flex;
    justify-content:space-evenly;
    height:400px;
}

body{
    background-color: #f0f0f0;
    background-image: url("Background-small.png");
    background-size: 50px;
    color:rgb(148, 148, 148);
}

#coming_soon{
    font-family:'Gaegu';
    color:rgb(123, 141, 146);
    font-size:17px;
}

#coming_soon:last-child{
    margin-top:30px;
}

body h1{
    font-family: 'Gaegu';
    font-weight: 500;
    margin-top:10px;
    font-size:50px;
    color:rgb(116, 116, 116);
}

#arigathanks{
    color:rgb(80, 80, 80);
    font-family:'Gaegu';
    font-size:20px;
}

*{
    margin:0px;
}

.scoreBoard{
    margin-top:8%;
    font-family: monospace;
    font-size:20px;
    width:25%;
    color:rgb(109, 109, 109);
}

#winStat{
    font-size: 50px;
}

.scoreBoard p{
    font-weight: lighter;
    font-size:20px;
    font-family: 'Gaegu';
}

.scoreBoard p:second-child{
    margin-top:200px;
}

.scoreBoard button{
    font-size:20px;
    font-family: 'Gaegu';
    color:rgb(110, 110, 110);
    background-color: #e2e2e2;
    border-style:none;
    padding:5px 20px 5px 20px;
    margin-top:10px;
    width:100%;
    border-radius: 2px;
}

center{
    margin-top:7%;
}

table{
    border-collapse: collapse;
}


td{
    width:100px;
    height:100px;
}

table tr:first-child td{
    border-top: 0;
}

table tr:last-child td{
    border-bottom:0;
}

table tr td:first-child{
    border-left:0;
}

table tr td:last-child{
    border-right: 0;
}

#turns{
    font-size:40px;
}

td{
    border-style: none;
    background:inherit;
    font-size:20px;
    text-align: center;
    font-family: sans-serif;
    border:2px solid rgb(155, 155, 155);
}

td button{
    transition: 0.4s ease-in-out;
    border-style: none;
    font-size:80px;
    background-color: inherit;
    text-align: center;
    color:rgb(148, 148, 148);
    font-family: 'Nanum Pen Script';
    width: 100%;    
    height: 100%;
}

td button:hover{
    font-size:90px;
    transition: 0.1s ease-in-out;
    background-color: rgb(236, 236, 236);
}

img{
    width: 100px;
    height: 100px;
}

footer{
    box-shadow: 1px 1px 10px 1px rgb(83, 83, 83);
    padding:1%;
    background-image: linear-gradient(to right, rgb(129, 129, 129),#5f577c); 
}

#footerDiv{
    display:flex;
    justify-content: space-evenly;
}

#footerDiv img{
    width: 400px;
    height: 400px;
}

.socials p{
    text-decoration: none;
    color:rgb(233, 233, 233);
    font-family: 'Open Sans';
    font-size:14px;
    padding-bottom:10px;
    margin-top:20px;
}

.socials{
    display:flex;
    justify-content: space-evenly;
}

pre{
    color:rgb(233, 233, 233);
    font-size:20px;
}

a{
    transition-timing-function: ease-in-out;
    padding-top:10px;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
    color:rgb(200, 200, 200);
    background-color: inherit;
    font-family: 'Open Sans';
    font-size:20px;
    line-height: 10px;
}

a:hover{
    transition-timing-function: ease-in-out;
    border-bottom: 1px solid rgb(177, 177, 177);
}

.socials p{
    font-size:20px;
}

#links{
    justify-content: space-around;
}

#links img{
    width:40px;
    height:40px;
}

center p{
    color:rgb(200, 200, 200);
    background-color: inherit;
    font-family: 'Open Sans';
    font-size:13px;
}

#card1{
    margin-top:10%;
}

#lck{
    text-transform:uppercase;
    margin-top:50px;
    font-family:'Gaegu';
    padding-bottom:5px
}

@media screen and (max-width:480px) {

    #content{
        display:block;
        height:100%;
        padding:auto;
        align-items: center;
    }  
    
    .scoreBoard{
        width: 100%;
        text-align: center;
        display:block;
    }

    .scoreBoard{
        margin-top:1px;
    }

    .scoreBoard button{
        margin-top:1px;
        background-color: rgb(225, 227, 230);
        color:rgb(109, 109, 109);
    }
    
    footer{
        padding-bottom:30px;
    }

    #footerDiv{
        display:block;
        justify-content: space-evenly;
    }

    #me{
        width:20px;
        margin-top:0px;
        padding-bottom:0px;
    }

    #lck{
        text-transform:uppercase;
        margin-top:50px;
        font-family:'Gaegu';
        padding-bottom:5px;
        font-size: 14px;
    }

    .socials{
        padding-bottom:20px;
    }

    #lck a{
        font-size:9px;
    }

    center{
        margin-top:2%;
    }

    table{
        width: 80%;
        height: 5%;
    }

    #winStat{
        font-size: 35px;
    }

    #card1{
        margin-top: 2px;
    }

    #card1 p{
        margin-top:0px;
    }
}
